.secondary-btn:hover {
    background-color: #f0f0f0;
    color: #333;
  }

.secondary-btn {
  min-width: 0;
}

.input-btn {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





.main-btn{
    background-color: #e2e3e5;
    color: #333;
    font-size: 14;
  }

.main-btn:hover {
  background-color:#d4d4d4;
  ;
  color: #333;
}

.trash-btn:hover {
  color : red;  
  background-color: #f0f0f0 ;
}

.modal-title, .form-label {
  color:#333;
}

.item-form {
  padding : 15px;
}

.center-text {
  text-align: center;
}

.section-list-title {
  margin-top : 30px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 12px;
}

.form-separation {
  margin-top: 0;
}