html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  /*Couleurs principales ajoutées pour les languages*/
  --red-color : #ff0000;
  --red-color-contrast : #990000;
  --red-color-text: #ffffff;

  --green-color : #00AB17;
  --green-color-contrast : #006600;
  --green-color-text: #ffffff;

  --yellow-color : #FFC107;
  --yellow-color-contrast : #996600;
  --yellow-color-text: #ffffff;
  /*---------------------------- */
}

body {
  margin: 0px;
  padding: 0px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.alertify-notifier .ajs-message.ajs-info {
  background: #cff4fc !important;
  color: #055160 !important;
  border-color: #9eeaf9 !important;
}

.alertify-notifier .ajs-message.ajs-error {
  background: #f8d7da !important;
  color: #58151c !important;
  border-color: #f1aeb5 !important;
}

.alertify-notifier .ajs-message.ajs-success {
  background: #d1e7dd !important;
  color: #0a3622 !important;
  border-color: #a3cfbb !important;
}

.copyright {
  text-align: center;
  color: #c0c0c0 !important;
}


/*Style pour les boutons */
.btn-Variamos-red {
  color: var(--red-color-text);
  background-color: var(--red-color);
  border-color: var(--red-color);
}

.btn-Variamos-red:hover {
  color: var(--red-color-text);
  background-color: var(--red-color-contrast);
  border-color: var(--red-color-contrast);
}

.btn-Variamos-green {
  color: var(--green-color-text);
  background-color: var(--green-color);
  border-color: var(--green-color);
}

.btn-Variamos-green:hover {
  color: var(--green-color-text);
  background-color: var(--green-color-contrast);
  border-color: var(--green-color-contrast);
}

.btn-Variamos-yellow {
  color: var(--yellow-color-text);
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
}

.btn-Variamos-yellow:hover {
  color: var(--yellow-color-text);
  background-color: var(--yellow-color-contrast);
  border-color: var(--yellow-color-contrast);
}

.center {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------*/